# Xcode

## Build generated
build/

## OS X System files
.DS_Store

## Cache
SwiftAlgorithms.playground/playground.xcworkspace/xcuserdata/alejandro.xcuserdatad/UserInterfaceState.xcuserstate
SwiftAlgorithms.playground/playground.xcworkspace/xcuserdata/
SwiftAlgorithms.playground/xcuserdata/
SwiftAlgorithms.playground/contents.xcplayground